*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #0c1027;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}




















/*-------header-----------*/
#header{
    height: 10vh;
    /* border: 4px solid black; */
    /* margin: 10px; */
    position: fixed;
    width: 100%;
    background-color: #0c1027;
    z-index: 2;
    color: whitesmoke;
    display: flex;
    align-items: center;
}
.fa-bell,.fa-icons,.fa-search{
    color: whitesmoke;
    font-size: 1.5rem;
}
.icon{
    padding-left: 15px;
    color: rgb(0, 119, 255);
}
.icon-top{
    padding-left: 35px;
}

#header div div{
    display: inline-block;
    display: flex;
    justify-content: center;
    
}
#header div input{
    height: 5vh;
    width: 25vw;
    border-radius:1rem;
    background-color: #1a2350;
    border: none;
    padding: 3px;
    margin-right: 10px;
}
#header div input::placeholder{
    color: rgb(170, 169, 169);
    font-size: 0.9rem;
    padding-left: 20px;
}
#header a{
align-self: center;
}
i:hover{
    color: rgb(122, 120, 120);
}
#header h1{
    display: inline-block;
    padding-left: 30px;
    margin-bottom: 20px;
    
}

#form{
    
    width: 68%;
}
















/*----id-body------*/
#body{
    width: 100%;
    height: auto;
    /* background:linear-gradient(rgb(72, 10, 172), rgb(158, 8, 158),rgb(29, 3, 41)); */
    display: flex;
}












/*---------side-bar------------------*/
#side-bar{
    width: 14%;
    height: 85vh;
    /* border: 4px solid black; */
    margin: 10px;
    margin-right: 0px;
    position: sticky;
    top: 14vh;
    margin-top: 14vh  ;
    
}
.side-bar-section{
    height: 50px;
    display: flex;
    align-items: center;
    color: whitesmoke;
}
.side-bar-section:hover{
    background-color: #19203f;
}
.side-bar-section span{
    padding-left: 15px;
    font-size: 1.1rem;
}
@media(max-width:600px){
    section{
        display: none;
    }
    #side-bar{
        display: none;
        
    }
    
}



















/*-----main-----------*/
#main-playlist{
    
    width: 60%;
    height: auto;
    /* border: 4px solid black; */
    margin: 10px;
    margin-top: 12vh;
    /* background:linear-gradient(rgb(7, 17, 110),rgb(90, 3, 107),rgb(0, 0, 24)); */
}
#main-playlist-description{
    border: 2px solid black;
    height: 50vh;
    width: 100%;
    
}
#main-playlist-description div{
    height: 100%;
    width: 100%;
    background-image: url(images/live-poster.jpg);
    background-size: 100% 100%;
}
#main-playlist-songs{
    margin-top: 30px;
    height: auto;
    width: 100%;
}
.main-playlist-songs-subclass{
    height: 12vh;
    
    width: 100%;
    background-color:#19203f ;
    display: flex;
    align-items: center;
    margin-top: 10px;
    color: whitesmoke;
}
.main-playlist-songs-subclass:hover{
    background-color: #242b52;
}
.mp-number{
    padding-left: 10px;
}
.mp-image{
    padding-left: 20px;
}
.mp-image img{
    height: 70px;
    width: 70px;
    border-radius: 0.2rem;
    
}
.mp-content{
    width: 70%;
    padding-left: 50px;
}
.mp-content span{
    font-size: 0.8rem;
    color: rgb(150, 149, 149);
}
.mp-heart{
    font-size: 1.4rem;
    padding-left: 10px;
}
.mp-dot{
    font-size: 1.4rem;
    padding-left: 40px;
}






/*---------queue-------------------*/
#main-queue{
    width: 22%;
    height: 100vh;
    /* border: 4px solid black; */
    margin: 10px;
    position: sticky;
    /* overflow: auto; */
    top: 13vh;
    margin-top: 13vh;
    right: 0.5%;
    z-index: 0;
}
#queue{
    width: 100%;
    height: 50vh;
    /* border: 4px solid black; */
    margin: 10px;
    position: sticky;
    overflow: auto;
    top: 13vh;
    margin-top: 2vh;
    right: 0.5%;
    z-index: 0;
    
}

#main-queue h1{
    color: whitesmoke;
    font-size: 1.6rem;
    display: inline-block;
}
#main-queue a{
color: whitesmoke;
font-size: 0.8rem;
padding-left: 50px;
text-decoration: none;
}

#queue-artists{
    margin-top: 10px;
    height: 40vh;
    
    position: sticky;
    width: 100%;
    
}
.artists-subclass{
    position: relative;
    top: 10px;

    display: flex;
    height: 40%;
    width: 95%;
    align-items: center;
    
    color: whitesmoke;
    
}
.artists-subclass:hover{
    background-color: #1a2350;
}
.artists-subclass div div{
    padding-left: 20px;
}
.artists-subclass div span{
    padding-left: 20px;
    font-size: 0.7rem;
    color: rgb(150, 148, 148);
}
.artists-subclass span div{
    padding-top: 10px;
}

.artists-subclass{
    margin-top: 10px;
}
.artists-subclass img{
    height: 90%;
    border-radius: 0.2rem;
    box-shadow: 3px 3px 9px black;
    padding-left: 10px;
}
.artists-subclass div{
    width: 50%;
}

#queue-songs{
    
    height: inherit;
    
}
.queue-items{
    height: 70px;
    display: flex;
    margin-top: 4%;
    /* background-color: #11193b; */
    align-items: center;
}
.queue-number{
    color: whitesmoke;
    padding-left: 10px;
}
.queue-items:hover{
    background-color: #1a2350;
}
.queue-songs-image{
    padding-left: 10px;
}
.queue-songs-image img{
    height: 50px;
    width: 50px;
    border-radius: 0.3rem;
}
.queue-songs-name{
    width: 55%;
    padding-left: 15px;
}
.queue-songs-name p{
    color: whitesmoke;
    font-size: 0.9rem;
}
.heart  .fa-heart{
   color: whitesmoke;
}
.heart  .fa-heart:hover{
    background-color: whitesmoke;
    cursor: pointer;
}










/*---------------footer---------------------*/
footer{
    width: 100%;
    height: 12vh;
    background:linear-gradient(to right,rgb(12, 10, 10),rgb(94, 93, 93),rgb(12, 10, 10));
    
    position: fixed;
    display: flex;
    z-index: 3;
    align-content: space-between;
    bottom: 0px;
}
