*{
    padding: 0;
    margin: 0;
}

/*-------header-----------*/
#header{
    height: 10vh;
    border: 4px solid black;
    margin: 10px;
}

/*----id-body------*/
#body{
    width: 100%;
    height: auto;
    background:linear-gradient(rgb(43, 6, 104), rgb(88, 4, 88));
    display: flex;
}
/*---------side-bar------------------*/
#side-bar{
    width: 12%;
    height: 100vh;
    border: 4px solid black;
    margin: 10px;
    
}

/*-----main-----------*/
#main{
    width: 60%;
    height: auto;
    border: 4px solid black;
    margin: 10px;
    background:linear-gradient(rgb(3, 10, 78),rgb(27, 1, 32));
}
/*cover-picture*/
.cover-picture{
    border: 4px solid black;
    margin: 10px;
    
    height: 50vh;
}

/*latest-release*/
.latest-release{
    border: 4px solid black;
    margin: 10px;
    height: 40vh;
}
/*popular-artist*/
.popular-artist{
    border: 4px solid black;
    margin: 10px;
    height: 30vh;
}
/*stations*/
.stations{
    border: 4px solid black;
    margin: 10px;
    height: 25vh;
}
/*combined*/
.combined{
    /* border: 4px solid black; */
    margin: 10px;
    height: 30vh;
    margin-top: 20px;
}
.combined-subclass{
display: flex;
width: inherit;
height: 90%;
justify-content: space-between;
flex-wrap: wrap;
}
.combined-subclass div{
    width: 32%;
    height: 100%;
    position: relative;
}
.combined-subclass div img{
    background-size: contain;
    width: 100%;
    height: 100%;
    border-radius: 5%;
}
.combined-subclass div h2{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}
/*latest-english*/
.latest-english{
    /* border: 4px solid black; */
    margin: 10px;
    height: 34vh;
}
.latest-english .latest-english-images{
    display: flex;
    width: inherit;
    height: 70%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.latest-english h1{
    /* display: block; */
    /* text-align: center; */
    font-size: 1.6rem;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 5px;
}
.latest-english div{
    width: 15%;
    padding: 5px;
    
}
.latest-english div img{
    width: 111px;
    height: 111px;
    border-radius: 5%;
}
.latest-english div p{
    color: rgb(199, 196, 196);
    font-size: 1rem;
    padding: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}
.latest-english div span{
    font: 0.7em Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(196, 193, 193);
    font-weight: 500;
    padding: 3px;
}
/*latest-hindi*/
.latest-hindi{
    /* border: 4px solid black; */
    margin: 10px;
    height: 34vh;
}
.latest-hindi .latest-hindi-images{
    display: flex;
    width: inherit;
    height: 70%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.latest-hindi h1{
    /* display: block; */
    /* text-align: center; */
    font-size: 1.6rem;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 5px;
}
.latest-hindi div{
    width: 15%;
    padding: 5px;
    
}
.latest-hindi div img{
    width: 111px;
    height: 111px;
    border-radius: 5%;
}
.latest-hindi div p{
    color: rgb(199, 196, 196);
    font-size: 1rem;
    padding: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}
.latest-hindi div span{
    font: 0.7em Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(196, 193, 193);
    font-weight: 500;
    padding: 3px;
}
/*---------queue-------------------*/
#queue{
    width: 22%;
    height: 100vh;
    border: 4px solid black;
    margin: 10px;
}

