*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #0c1027;
}
/*-------header-----------*/
#header{
    height: 10vh;
    border: 4px solid black;
    margin: 10px;
}

/*----id-body------*/
#body{
    width: 100%;
    height: auto;
    /* background:linear-gradient(rgb(72, 10, 172), rgb(158, 8, 158),rgb(29, 3, 41)); */
    display: flex;
}
/*---------side-bar------------------*/
#side-bar{
    width: 12%;
    height: 100vh;
    border: 4px solid black;
    margin: 10px;
    
}

/*-----main-----------*/
#main{
    width: 60%;
    height: auto;
    border: 4px solid black;
    margin: 10px;
    /* background:linear-gradient(rgb(7, 17, 110),rgb(90, 3, 107),rgb(0, 0, 24)); */
}








/*cover-picture*/
.cover-picture{
    border: 4px solid black;
    margin: 10px;
    
    height: 50vh;
}











/*latest-release*/
.latest-release{
    border: 4px solid black;
    margin: 10px;
    height: 40vh;
}















/*popular-artist*/
.popular-artist{
    /* border: 4px solid black; */
    margin: 10px;
    height: 35vh;
}
.popular-artist-subclass{
    display: flex;
    width: inherit;
    height: 80%;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #11193b;
}
.popular-artist h2{
    /* display: block; */
    /* text-align: center; */
    font-size: 1.6rem;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 5px;
    
}
.popular-artist-subclass div{
    width: 18%;
    padding: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    
}
.popular-artist-subclass div img:hover{
    transform: rotate(360deg);
}
.popular-artist-subclass div img{
    width: 100%;
    height: 80%;
    transition: all 1s;
    border-radius: 50%;
}
.popular-artist-subclass div p{
    color: rgb(199, 196, 196);
    font-size: 1rem;
    padding: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    text-align: center;
    
}














/*stations*/
.stations{
    /* border: 4px solid black; */
    margin: 30px 0;
    height: 20vh;
    background:linear-gradient(rgb(3, 30, 66),darkblue);
    display: none;
}
.stations-subclass{
    display: flex;
    height: 100%;
    width: 80%;
    
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    
    left: 20%;
}

.stations-station{
    width: 12%;
    height: 100%;
    background-color: chartreuse;
    
}
.stations-subclass div{
    width: 14%;
    height: 100%;
    position: relative;
}
.stations-subclass div img{
    background-size: contain;
    width: 100%;
    height: 65%;
    border-radius: 50%;
    position: relative;
    top: 17%;
}










/*combined*/
.combined{
    /* border: 4px solid black; */
    margin: 10px 0;
    height: 30vh;
    margin-top: 30px;
}
.combined-subclass{
display: flex;
width: inherit;
height: 90%;
justify-content: space-between;
flex-wrap: wrap;
}
.combined-subclass div{
    width: 31%;
    height: 100%;
    position: relative;
    padding: 5px;
}
.combined-subclass div img{
    background-size: contain;
    width: 100%;
    height: 100%;
    border-radius: 5%;
}
/* .combined-subclass div img:hover{
    width: 110%;
    transition: 1s ease-in-out;
} */
.combined-subclass div h2{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}











/*latest-english*/
.latest-english{
    /* border: 4px solid black; */
    margin: 10px 0;
    height: 34vh;
}
.latest-english .latest-english-images{
    display: flex;
    width: inherit;
    height: 70%;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.latest-english h1{
    /* display: block; */
    /* text-align: center; */
    font-size: 1.6rem;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 5px;
}
.latest-english div{
    width: 14.5%;
    /* padding: 5px; */
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    
    
}
.latest-english div div{
    background-color: #11193b;
    
}
.latest-english div div:hover{
    background-color: #1a2350;
    
}
.latest-english div img{
    width: 90%;
    height: 111px;
    border-radius: 5%;
}
.latest-english div p{
    color: rgb(199, 196, 196);
    font-size: 1rem;
    padding: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    padding-top: 15px;
}
.latest-english div span{
    font: 0.7em Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(196, 193, 193);
    font-weight: 500;
    padding: 3px;
}











/*latest-hindi*/
.latest-hindi{
    /* border: 4px solid black; */
    margin: 10px 0;
    height: 34vh;
}
.latest-hindi .latest-hindi-images{
    display: flex;
    width: inherit;
    height: 70%;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.latest-hindi h1{
    /* display: block; */
    /* text-align: center; */
    font-size: 1.6rem;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 5px;
    
}
.latest-hindi div{
    width: 14.5%;
    /* padding: 5px; */
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    
}
.latest-hindi div img{
    width: 90%;
    height: 111px;
    border-radius: 5%;
}
.latest-hindi div div{
    background-color: #11193b;
    
}
.latest-hindi div div:hover{
    background-color: #141d49;
    
}
.latest-hindi div p{
    color: rgb(199, 196, 196);
    font-size: 1rem;
    padding: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    padding-top: 15px;
}
.latest-hindi div span{
    font: 0.7em Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(196, 193, 193);
    font-weight: 500;
    padding: 3px;
}










/*---------queue-------------------*/
#queue{
    width: 22%;
    height: 100vh;
    border: 4px solid black;
    margin: 10px;
    position: sticky;
    top: 0.5%;
    right: 0.5%;
}

