*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #0c1027;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}




















/*-------header-----------*/
#header{
    height: 10vh;
    /* border: 4px solid black; */
    /* margin: 10px; */
    position: fixed;
    width: 100%;
    background-color: #0c1027;
    z-index: 2;
    color: whitesmoke;
    display: flex;
    align-items: center;
}
.fa-bell,.fa-icons,.fa-search{
    color: whitesmoke;
    font-size: 1.5rem;
}
.icon{
    padding-left: 15px;
    color: rgb(0, 119, 255);
    display: none;
}
.icon-top{
    padding-left: 35px;
}

#header div div{
    display: inline-block;
    display: flex;
    justify-content: center;
    
}
#header div input{
    height: 5vh;
    width: 25vw;
    border-radius:1rem;
    background-color: #1a2350;
    border: none;
    padding: 3px;
    margin-right: 10px;
}
#header div input::placeholder{
    color: rgb(170, 169, 169);
    font-size: 0.9rem;
    padding-left: 20px;
}
#header a{
align-self: center;
}
i:hover{
    color: rgb(122, 120, 120);
}
#header h1{
    display: inline-block;
    padding-left: 30px;
    margin-bottom: 20px;
    
}

#form{
    
    width: 68%;
}
@media(max-width:600px){
    .fa-bell,.fa-icons,.fa-search,.fa-user-circle{
        
        font-size: 1rem;
    }
    #header h1{
        font-size: 1.2rem;
        margin-bottom: 10px;
        padding-left: 5px;
    }
    #header div input{
        height: 3vh;
    }
    .icon-top{
        padding-right: 10px;
        padding-left: 0px;
    }
    #header div input::placeholder{
        font-size: 0.5rem;
    }
}
















/*----id-body------*/
#body{
    width: 100%;
    height: auto;
    /* background:linear-gradient(rgb(72, 10, 172), rgb(158, 8, 158),rgb(29, 3, 41)); */
    display: flex;
}
@media(max-gwidth:600px){

}











/*---------side-bar------------------*/
#side-bar{
    width: 14%;
    height: 85vh;
    /* border: 4px solid black; */
    margin: 10px;
    margin-right: 0px;
    position: sticky;
    top: 14vh;
    margin-top: 14vh  ;
    
}
.side-bar-section{
    height: 50px;
    display: flex;
    align-items: center;
    color: whitesmoke;
}
.side-bar-section:hover{
    background-color: #19203f;
}
.side-bar-section span{
    padding-left: 15px;
    font-size: 1.1rem;
}
@media(max-width:700px){
    
    #side-bar{
        display: none;
        
    }
    
}










/*-----main-----------*/
#main{
    
    width: 60%;
    height: auto;
    /* border: 4px solid black; */
    margin: 10px;
    margin-top: 12vh;
    /* background:linear-gradient(rgb(7, 17, 110),rgb(90, 3, 107),rgb(0, 0, 24)); */
}








/*cover-picture*/
.cover-picture{
    /* border: 4px solid black; */
    margin: 10px;
    width: 96.5%;
    height: 50vh;
    background-image: url(images/live-poster.jpg);
    background-size: 100% 100%;
    animation: slider 9s infinite linear;
    border-radius: 0.3rem;
    box-shadow: 4px 4px 20px black;

}
.cover-picture:hover{
    box-shadow: none;
    transition: 1s ease-out;
}
@keyframes slider{
    0%{
        background-image:url(images/live-poster.jpg);
    }
    35%{

    background-image:url(images/live-poster-2.jpg);
    }
    75%{

    background-image: url(images/live-poster-3.jpg);
    }
}
/* .cover-picture img{
    height: inherit;
    width: 100%;
} */











/*latest-release*/
.latest-release{
    border: 4px solid black;
    margin: 10px;
    height: 40vh;
}















/*popular-artist*/
.popular-artist{
    /* border: 4px solid black; */
    margin: 10px;
    height: 35vh;
    margin-top: 30px;
}
.popular-artist-subclass{
    display: flex;
    width: inherit;
    height: 85%;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #11193b;
}
.popular-artist h2{
    /* display: block; */
    /* text-align: center; */
    font-size: 1.6rem;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 5px;
    
}
.popular-artist-subclass div{
    width: 18%;
    padding: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    
}
.popular-artist-subclass div img:hover{
    transform: rotate(360deg);
    transition: all 1s;
    box-shadow: none;
}
.popular-artist-subclass div img{
    width: 100%;
    height: 80%;
    box-shadow: 7px 7px 20px black;
    border-radius: 50%;

}
.popular-artist-subclass div p{
    color: rgb(199, 196, 196);
    font-size: 1rem;
    padding: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    text-align: center;
    
}
@media(max-width:700px){
    .popular-artist-subclass div{
        width: 15%;
        padding-left: 1px;
    }
    .popular-artist-subclass div img{
        height: 60%;
    }
    .popular-artist-subclass div p{
        font-size: 0.7rem;
        padding: 6px;
    }
}


























/*combined*/
.combined{
    /* border: 4px solid black; */
    /* margin: 90px 0; */
    height: 25vh;
    margin-top: 50px;
}
.combined-subclass{
display: flex;
width: inherit;
height: 90%;
justify-content: space-between;
flex-wrap: wrap;
}
.combined-subclass div{
    width: 31%;
    height: 100%;
    position: relative;
    padding: 5px;
}
.combined-subclass div img{
    background-size: contain;
    width: 100%;
    height: 100%;
    border-radius: 5%;
    box-shadow: 3px 3px 20px black;
}
/* .combined-subclass div img:hover{
    width: 110%;
    transition: 1s ease-in-out;
} */
.combined-subclass div h2{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}
@media(max-width:700px){
    .combined-subclass div h2{
        font-size: 1rem;
    }
    .combined{
        height: auto;
        
    }
    .combined-subclass div{
        width: 90%;
        height: 18vh;
        padding-top: 10px;
        padding-left: 20px;
    }
    .combined-subclass div img{
        /* padding-left: 10px; */
        border-radius: 0.5rem;
    }
}











/*latest-english*/
.latest-english{
    /* border: 4px solid black; */
    margin: 10px 0;
    height: 34vh;
}
.latest-english .latest-english-images{
    display: flex;
    width: inherit;
    height: 70%;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.latest-english h1{
    /* display: block; */
    /* text-align: center; */
    font-size: 1.6rem;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 5px;
}
.latest-english div{
    width: 14.5%;
    /* padding: 5px; */
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    
    
}
.latest-english div div{
    background-color: #11193b;
    
}
.latest-english div div:hover{
    background-color: #1a2350;
    
}
.latest-english div img{
    width: 90%;
    height: 111px;
    border-radius: 5%;
}
.latest-english div p{
    color: rgb(199, 196, 196);
    font-size: 1rem;
    padding: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    padding-top: 15px;
}
.latest-english div span{
    font: 0.7em Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(196, 193, 193);
    font-weight: 500;
    padding: 3px;
}
@media(max-width:700px){
    .latest-english{
        height: auto;
    }
    .latest-english h1{
        font-size: 1rem;
        margin-bottom: -5px;
    }
    .latest-english div p{
        font-size: 0.8rem;
        
        padding: 0px;
        padding-top: 5px;
    }
    .latest-english div span{
        font-size: 0.6rem;
        padding: 0px;
    }
    .latest-english div{
        width: 28%;
        padding-top: 0px;
        margin-top: 10px;
    }
    .latest-english div img{
        height:80px ;
        padding-top: 5px;
        border-radius: 0.5rem;
    }
}










/*latest-hindi*/
.latest-hindi{
    /* border: 4px solid black; */
    margin: 10px 0;
    height: 34vh;
    margin-bottom: 15vh;
}
.latest-hindi .latest-hindi-images{
    display: flex;
    width: inherit;
    height: 70%;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.latest-hindi h1{
    /* display: block; */
    /* text-align: center; */
    font-size: 1.6rem;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 5px;
    
}
.latest-hindi div{
    width: 14.5%;
    /* padding: 5px; */
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    
}
.latest-hindi div img{
    width: 90%;
    height: 111px;
    border-radius: 5%;
}
.latest-hindi div div{
    background-color: #11193b;
    
}
.latest-hindi div div:hover{
    background-color: #141d49;
    
}
.latest-hindi div p{
    color: rgb(199, 196, 196);
    font-size: 1rem;
    padding: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    padding-top: 15px;
}
.latest-hindi div span{
    font: 0.7em Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(196, 193, 193);
    font-weight: 500;
    padding: 3px;
}
@media(max-width:700px){
    .latest-hindi{
        height: auto;
    }
    .latest-hindi h1{
        font-size: 1rem;
        margin-bottom: -5px;
    }
    .latest-hindi div p{
        font-size: 0.8rem;
        padding-top: 5px;
    }
    .latest-hindi div span{
        font-size: 0.6rem;
    }
    .latest-hindi div{
        width: 28%;
        padding-top: 0px;
        margin-top: 10px;
    }
    .latest-hindi div img{
        height:80px ;
        padding-top: 5px;
        border-radius: 0.5rem;
    }

}










/*---------queue-------------------*/
#queue{
    width: 22%;
    height: 100vh;
    /* border: 4px solid black; */
    margin: 10px;
    position: sticky;
    overflow: auto;
    top: 13vh;
    margin-top: 13vh;
    right: 0.5%;
    z-index: 0;
    margin-bottom: 15vh;
}

#queue h1{
color: whitesmoke;
font-size: 1.6rem;
}
#queue-songs{
    
    height: inherit;
    
}
.queue-items{
    height: 70px;
    display: flex;
    margin-top: 4%;
    /* background-color: #11193b; */
    align-items: center;
}
.queue-number{
    color: whitesmoke;
    padding-left: 10px;
}
.queue-items:hover{
    background-color: #19203f;
}
.queue-songs-image{
    padding-left: 10px;
}
.queue-songs-image img{
    height: 50px;
    width: 50px;
    border-radius: 0.3rem;
}
.queue-songs-name{
    width: 55%;
    padding-left: 15px;
}
.queue-songs-name p{
    color: whitesmoke;
    font-size: 0.9rem;
}
.heart  .fa-heart{
   color: whitesmoke;
}
.heart  .fa-heart:hover{
    background-color: whitesmoke;
    cursor: pointer;
}
@media(max-width:700px){
    #queue{
        display: none;
    }
    #main{
        width: 92%;
        
    }
    .cover-picture{
        height: 30vh;
    }
    .popular-artist h2{
        font-size: 1rem;
    }
    .popular-artist{
        height: 20vh;
    }
}








/*---------------footer---------------------*/
footer{
    width: 100%;
    height: 12vh;
    background:linear-gradient(to right,rgb(12, 10, 10),rgb(94, 93, 93),rgb(12, 10, 10));
    
    position: fixed;
    display: flex;
    z-index: 3;
    align-content: space-between;
    justify-content: space-between;
    bottom: 0px;
}
#footer-songs{
    width: 20%;
    color: whitesmoke;
}
#footer-play-button{
    width: 40%;
}
.control-play{
width: 100%;
height: auto;
display: flex;
justify-content: center;
align-items: center;
}
.control-time-button{
height: 35%;
width: 100%;
}
.control-play-icons{
    color: whitesmoke;
    font-size: 1.5rem;
    padding:  5px 20px 0px 20px;
}
#footer-sound-section{
    width: 20%;
}
@media(max-width:700px){
    footer{
        height: 10vh;
    }
}
